body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url(erth.jpg); */
}

h1 {
    text-align: center;
    margin: 20px;
    color: rgb(46, 31, 13);
}
footer{
     color: rgb(41, 22, 37);
     text-align: center;
}
#map {
    height: 400px;
    width: 100%;
}

#search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

#searchBtn {
    display: block;
    margin: 10px auto;
    padding: 10px;
}